<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Contatos</h2>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Matheus</th>
                        <th>matheus@teste.com</th>
                        <th>(31) 9 9139-1931</th>
                        <th><button class="btn btn-danger">Deletar</button></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>